<h1>Réservations sur mes voitures</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="text-center card">
      <% if  @my_car_bookings.first.nil? %>
        <p>You don't have a book yet</p>
      <% else %>
        <% @my_car_bookings.each do |car_booking| %>
          <% car_booking.each do |booking| %>
            <div class="" data-controller="change_status">
              <% car = booking.car %>
              Nom de la voiture: <%= car.title %><br>
              Adresse: <%= car.address %><br>
              Coût total: <%= booking.value %><br>
              Etat de la réservation: <div data-target="status"><%= booking.status %></div>
              <div class="btn btn-success" data-action="click->change#confirm"> <%= link_to "Confirm booking","/bookings/:id/booking_renter" %></div>
              <div class="btn btn-secondary" data-action="click->change#cancel"> <%= link_to "Cancel booking", "/bookings/:id/booking_renter" %></div>
              <%= link_to "Destroy booking", "/bookings/:id/booking_renter" ,
                  data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr que vous vouliez supprimer cette réservation"},
                  class:"btn btn-secondary" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
