<h2 class="text-center">Modify your car <strong id="red-word">description</strong> so that it is even <strong id="red-word">sexier</strong> !</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-login text-left">
      <h2 class="text-center">My car infos</h2>
        <br>
        <%= simple_form_for(@car) do |f| %>
          <%= f.input :title %>
          <%= f.input :address %>
          <%= f.input :content %>
          <%= f.input :price %>
          <br>
          <%= f.input :photo%>
          <br>
          <h3><strong>Equipments</strong></h3>
          <hr>
          <%= f.button :submit, "Modify your car", class: "btn btn-danger"%>
          <%= link_to "Delete #{@car.title}", car_path(@car),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-success"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
