<h2 class="text-center">Partagez votre <strong id="red-word">voiture</strong> avec les autres. Etre <strong id="red-word">heureux</strong> et <strong id="red-word">Cool</strong> ! </h2>

<div class="container">
  <div class="row">
    <div class="text-left form-login">
      <h2 class="text-center"><strong>Ajouter ma voiture </strong></h2>
      <br>
      <%= simple_form_for @car do |f| %>
      <%= f.error_notification %>
      <%= f.input :title, placeholder: "Ecrire un Titre", :label_html => { :class => "label-css"} %>
      <%= f.input :address, label: "Ecrivez votre adresse", placeholder: "36 rue du la gard" %>
      <%= f.input :content, label: "Ecrire une description pour votre voiture", placeholder: "Ma voiture est une voiture mercedes avec un bon moteur ..." %>
      <%= f.input :price, label: "Prix par jour en €", placeholder: "48 €" %>
      <br>
      <%= f.file_field :image, class: "form-control", label: "Choisissez une belle photo pour votre voiture" %>
      <br>
      <hr>
      <style>
      .btn-white{
        color: #fff;
        border-radius: 25px;
        text-align: center;
      }
      </style>

      <div class="Publier">
          <%= f.button :submit, "Publier la voiture", class: "btn btn-danger btn-lg mb-5 btn-white text-center" %>
      </div>
      <% end %>
    </div>
  </div>


  <%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC8nUa2rua2jKRMY-bKdEW9GxRRh55wtIg"></script>
  <% end %>
</div>
