<!-- CAR -->
<h1 class="text-center"><%= @car.title %></h1>

<div class="container">

  <div class="row">
    <div class ="photo-row">
      <div class="col-xs-12 col-sm-6">
        <div class="card showmaincard"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @car.photo %>')">
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="wagoncard showmaincard">
            <div class="wagoncard-category"> <strong> <%= @car.user.firstname %> </strong> </div>
            <div class="wagoncard-category"> <strong> <%= @car.user.lastname %> </strong> </div>
            <div class="wagoncard-detail">
              <i class="fa fa-book" aria-hidden="true"></i>
              <i>" <%= @car.content %> "</i>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @car.address %></p>
      <p> <i class="fa fa-eur" aria-hidden="true"></i> <%= @car.price %> € per day</p>
      <p> <strong>Description:</strong> </p>
      <p><%= @car.content %></p>

      <div class = "equipment-div">
        <p><strong>Equipments  </strong><i class="fa fa-car fa-lg " aria-hidden="true" ></i></p>
        <%= image_tag @car.photo, class: "equipment" %>
      </div>
      <div class = "edit-div">
        <%= link_to "edit a car", edit_car_path(@car), class:"btn btn-primary" %>
      </div>

<!-- Reviews -->
      <div>
        <p><strong>Reviews</strong></p>
        <% @bookings.each do |booking|%>
        <ul class="list-inline">
         <% if booking.review %>
            <li class="list-unstyled">
            <div class="review-chat">
              <div class="review-comment">
                <% booking.review.rating.times do %>
                <i class="fa fa-star" aria-hidden="true" ></i>
                <% end %>
                <% (5- booking.review.rating).times do %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                <% end %>
                <p> <%= booking.review.content %> </p>
              </div>
            </div>
            </li>
          <% end %>
         </ul>
       <% end %>
     </div>

    </div>

<!-- BOOKINGS -->
    <div class="col-xs-12 col-sm-6">
      <div class="text-center">
        <%= simple_form_for [@car, @booking], {data:{controller: "updateprice"}} do |f| %>
          <div class="booking-card">
            <div >
            <p class="font-weight-bold"> RENT CAR PER DAY </p>
            <%= f.input :start_date, class: "datepicker start_date", placeholder: "dd/mm/yyyy", html5: true, as: :date,  input_html: { data: {updateprice_target: "startdate", action: "change->updateprice#update"}} %>
            </div>
            <p class="d-none" data-updateprice-target= "priceperday"><%= @car.price %></p>
            <div>
            <p> To </p>
            <%= f.input :end_date, class: "datepicker end_date",placeholder: "dd/mm/yyyy", html5: true, as: :date, input_html: {data: {updateprice_target: "enddate", action: "change->updateprice#update"}} %>
            </div>
            <%= f.input :price, input_html: { data: {updateprice_target: "price"}} %>
            <p> <strong>Total price: <span id="total_price"> <%= @total_price %> €</span></strong></p>
            <%= f.submit "Book", class: "btn btn-danger"%>
            <%#= link_to "Book your car", booking_path(@booking), class:"btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div id="static-map"></div>


<% content_for(:after_js) do %>


<!-- JAVA SCRIPT FOR THE CALCULATE RENT PER DAY -->
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
      handler.buildMap({
        provider: {
          scrollwheel: false,
          zoomControl: false
        },
        internal: { id: 'static-map' }
      }, function(){
        markers = handler.addMarkers([
          {
            "lat": <%= @car.latitude  %>,
            "lng": <%= @car.longitude %>,

          },
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
      $(".checkin_on, .checkout_on").on("change", function(e) {
        var from = $(".checkin_on").val().split("/");
        var to = $(".checkout_on").val().split("/");
        var start = new Date(from[2], from[1] - 1, from[0]);
        var end = new Date(to[2], to[1] - 1, to[0]);
        var nb_days = Math.round((end - start)/(1000*60*60*24));
        var total_price = nb_days * <%= @car.price %> || 0 ;
        $("#total_price").html(total_price + " €");
      });
    });
  </script>

<% end %>
